hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.transaction-form_default {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 0 10px 0 4px;
}

.transaction-form_active {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-top: 16px;
}

.transaction-form_inputs{
    display: flex;
    flex-direction: row;
    /*width: min-content;*/
}

.transaction-form_select{
    min-width: 150px;
    width: max-content;
}

.transaction-form_input{
    width: 50px;
    margin-left: 12px;
    padding: 2px 8px;
    /*used hsl color model because 'react-select' use the same model*/
    border: 1px solid hsl(0deg 0% 80%);
    border-radius: 4px;
}

.transaction-form_submit {
    width: 32px;
    height: 32px;
    margin: 0 12px;

    cursor: pointer;
}

.transaction-form_close {
    width: 32px;
    height: 32px;
    margin-left: auto;

    cursor: pointer;
}