.transaction-form_default {
    padding: 0 10px 0 4px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.transaction-form_active {
    margin-top: 16px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.transaction-form_inputs {
    display: flex;
    flex-direction: row;
}

.transaction-form_select {
    min-width: 150px;
    width: max-content;
}

.transaction-form_input {
    margin-left: 12px;
    padding: 2px 8px;
    width: 50px;

    border: 1px solid #ccccccf2;
    border-radius: 4px;
}

.transaction-form_submit {
    width: 32px;
    height: 32px;
    margin: 0 12px;

    cursor: pointer;
}

.transaction-form_close {
    margin-left: auto;
    width: 32px;
    height: 32px;

    cursor: pointer;
}

.transaction-form-wrapper hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* toggle (Cash / Bank statement) */

.toggle-wrapper *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.toggle-wrapper{
    display: inline-flex;
}
.toggle-wrapper .option{
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 3px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 3px;
    border: 1px solid #808080;
    transition: all 0.3s ease;
}

input[type="radio"]{
    display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2{
    border-color: #10afb2;
    background: #10afb2;
}

.toggle-wrapper .option span{
    font-size: 20px;
    color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span{
    color: #fff;
}