.main-window {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: #f6f6f6;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.first-window {
    flex-grow: 20;
    display: flex;
    flex-direction: column;

    padding: 24px 12px 0 48px;

}

.second-window {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    width: 450px;

    padding: 36px 36px 0 12px;
}

@media (max-width: 600px) {
    .first-window {
        display: none;
    }

    .second-window {
        width: 100%;
        min-width: unset;
        max-width: unset;

        padding: 16px 12px 0 12px;
    }
}