# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# client
/client/node_modules
/client/.idea

# server
/server/node_modules
/server/.idea
/server/.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/node_modules
