.startpage {
    margin-top: 48px;
    width: 100%;

    display: flex;
    justify-content: center;
}

.startpage-form {
    height: max-content;
    padding: 10px 12px 12px 12px;

    box-shadow: 0 2px 5px rgba(13, 63, 103, 0.1);
    background: #fff;
    border-radius: 6px;
}

.startpage-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.startpage-action {
    cursor: pointer;
}

.startpage-data {
    margin-top: 12px;
    width: min-content;

    display: flex;
    flex-direction: column;
}

.avatars {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.avatar {
    width: 64px;
    height: 64px;
}

.avatar-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}