.startpage {
    margin-top: 48px;
    width: 100%;

    display: flex;
    justify-content: center;
}

.startpage-form {
    height: max-content;
    padding: 10px 12px 12px 12px;

    box-shadow: 0 2px 5px rgba(13, 63, 103, 0.1);
    background: #fff;
    border-radius: 6px;
}

.startpage-form a {
    margin-right: auto;
}

.startpage-form input {
    margin-top: 10px;
    padding: 2px 8px;
    /*width: 200px;*/

    border: 1px solid #ccccccf2;
    border-radius: 4px;
}

.startpage-form button {
    margin-top: 10px;
}

.startpage-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.startpage-action {
    cursor: pointer;
}

.startpage-data {
    margin-top: 12px;
    width: min-content;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatars {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 100%;
}

.avatar {
    width: 64px;
    height: 64px;
}

.avatar-input {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}