.password-reset-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;

    display: flex;
    justify-content: center;

    background: #f6f6f6;
}

.password-reset-wrapper a {
    position: fixed;
    top: 25px;
    left: 25px;
    font-weight: bold;
}

.password-reset {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
