.transactions {
    overflow: auto;
}

.transaction {
    min-width: 240px;

    margin: 12px 0 0 0;
    padding: 10px 12px 10px 12px;
    border-radius: 10px;

    box-shadow: 0 2px 5px rgba(13, 63, 103, 0.1);
    background: rgba(255, 255, 255, 1);

    display: flex;
    flex-direction: row;
    align-items: center;

    cursor: pointer;
}

.cursor-disabled {
    cursor: default;
}

.transaction:first-child {
    margin-top: 0;
}

.transaction:last-child {
    margin-bottom: 12px;
}

.transaction_info {
    display: flex;
    flex-direction: column;

    min-width: 100px;
    margin-left: 12px;
}

.transaction_category_img {
    width: 40px;
    height: 40px;
}

.transaction_category {
    font-weight: bold;
}

.transaction_value {
    font-weight: bold;
    margin-left: auto;
    margin-top: 4px;
}

.transaction_delete {
    width: 32px;
    height: 32px;
    margin-left: 8px;
    margin-bottom: 4px;

    cursor: pointer;
}